body {
	background: grey;
}


#hover-box {
	position: absolute;
	left: 26%;
	width: 900px;
	height: 900px;
	text-align: center;
	line-height: 600px;
	/*padding-top: 450px;*/
	font-size: 3em;
	background: black;
	border: 20px dashed yellow;
	color: orange;
	border-radius: 100%;
}

nav {
	display: inline;
	color: white;
	/*padding: 10%;*/
	background: ghostwhite;
	bottom: 0;
	position: fixed;
	width: 100%;
	font-size: 30px;
	height: 100px;
}

nav > a {
	margin: 4%;
}