body {
	background: black;
}


nav {
	display: inline;
	color: white;
	/*padding: 10%;*/
	background: ghostwhite;
	bottom: 0;
	position: fixed;
	width: 100%;
	font-size: 30px;
	height: 100px;
}

nav > a {
	margin: 4%;
}

#mario {
	position: absolute;
	left: 34%;
	top: 20%;
	width: 500px;
	height: 500px;
	/*background-image: url(mario.jpg);*/
	background-size: cover;
}